* {
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 10px;
    font-weight: 400;
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}

.main {
    padding-top: 28px;
    height: 700px;
    width: 520px;
    display: flex;
    flex-direction: column;
    background-color: rgb(236, 228, 216);
    margin: 30px auto;
    box-shadow: 12px 12px 2px 1px rgba(175, 170, 63, .5); ;
}

.field {
    margin: 0 auto;
    min-width: 100px;
    min-height: 100px;
    border: 2px solid rgba(5, 19, 126, 0.667);
    margin: 30px;
}

.row {
    display: flex;
}

.sector {
    border: 1px solid rgba(5, 19, 126, 0.667);
}

.cluster {
    border: 1px solid rgba(5, 19, 126, 0.667);
    background-color: rgb(241, 246, 241);
    width: 50px;
    height: 50px;
    font-size: 40px;
}

.cluster:hover {
    background-color: rgb(153, 158, 153); 
}

.clusterBg {
    background-color: rgb(153, 158, 153); 
}

.value_cluster {
    display: flex;
    justify-content: center;
    align-items: center;
}

.element {
    width: 16px;
    height: 16px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.element_value {
    font-size: 12px; 
}

.buttons {
    display: flex;
    justify-content:center;
    margin-bottom: 30px;
}

.button {
    width: 40px;
    height: 40px;
    margin-left: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 44px;
    cursor: pointer;
}

.button_start {
    width: 120px;
    height: 40px;
    margin: 0 auto;
    border: 3px solid rgba(3, 73, 3, 0.146);
    background-color: aqua; 
    display: flex;
    align-items: center;
    justify-content: center; 
    font-size: 30px;
    color: green;
    border-radius: 20px;
    cursor: pointer;
    text-transform: uppercase;
}

.button_start:hover {
    background-color: rgba(0, 191, 255, 0.987);
}

